.gitIcons {
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 6px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;    
} 

.particleContainer{
    position: relative;
    top: 0;
    left: 0;
    max-height: 100%;
}

.portfolioWrapper{
    position: relative;
    width: 100vw;
    box-sizing: border-box;
}

.projectGridWrapper{
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;

}

.projectImg{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #220022;
}

.projectImgWrapper{
    grid-column: 2/3;
    grid-row: 1/2;
}

.projectImgWrapperAlt{
    grid-column: 1/2;
    grid-row: 1/2;
}

.projectRow{
    width: 80%;
    height: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% auto;
    grid-row: 100%;
    grid-gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.projectText{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 10px;
}

.projectTextAlt{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 10px;    
}

.projectRow>a>h2,
.projectText>a>h2, 
.projectTextAlt>a>h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.projectRow>a>i,
.projectText>a>i,
.projectTextAlt>a>i{
    padding-right: 10px;
}

.projectRow p,
.projectText p,
.projectTextAlt p{
    text-align: justify;
    font-size: 14px;
    margin-bottom: 0.1rem;
    font-family: 'Open Sans', sans-serif;
}



/* Media Queries */
/* ============= */
 
/* Very Small Screens - Smaller than 576px */
@media (max-width: 575.98px) { 

    .projectGridWrapper{        
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .projectImg{
        width: 100%;
    }

    .projectRow{
        display: block;
        width: 95%;
        height: auto;
        padding: 5px;
    }

    .projectText, 
    .projectTextAlt, 
    .projectImgWrapper,
    .projectImgWrapperAlt{
        display: block;
        margin: 10px auto;
        width: 100%;
    }

    .projectText>a>h2{
        font-size: 1.5rem;
    }
    
}


/* Small Devices - (landscape Phones - 576px to 768) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .projectRow{
        display: block;
        width: 84%;
        height: auto;
        padding: 5px;
        margin-bottom: 50px;
    }
}

/* Medium devices (Tablets - 768px and Up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
    .projectRow{
        height: 230px;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}




