




/* Vertical Nav CSS */
/* ================ */
.bm-burger-button{
    width: 50px;
}

/* Menu Close */
.bm-cross-button {
height: 25px;
width: 25px;
right: 3px !important;
position: absolute;
top: 8px; 
}

/* Close Button */
.bm-cross {
background: #fff;
}

.bm-item{
min-height: 100%;
padding: 5px 0px 0px 0px;
}

.bm-header{
margin: 15px auto;
font-size: 40px;
font-family: 'Trirong', serif;
}

.bm-menu-wrap{
    margin-left: -23px;
}

.bm-menu{
    overflow: hidden !important;
}

.bm-morph-shape {
fill: #242146;
}

/* End Vertical Nav CSS */
/* =====================*/

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.gitIcons {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0px;
    padding: 3px;
} 
 
.jumbotron{
     margin-top: 0px;
     font-size: 4rem;
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
     align-items: center;
     background: #49417F;
     background: -webkit-linear-gradient(225deg, #343a40 50%, #5e3bdd 50%);
     background: -o-linear-gradient(225deg, #343a40 50%, #5e3bdd 50%);
     background: linear-gradient(225deg, #343a40 50%, #5e3bdd 50%);
     color: #ffffff;
     height: 150px;
     border-bottom: 3px solid goldenrod;
     font-family: 'Muli', sans-serif;
 }

.particle-background{
    height: 6100px;
}

.particle-container{
    position: relative;
}

.project-grid-wrapper{
    position: absolute;
    top:0;
    left:0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: repeat-y;
}

.project-grid-child{
    display: grid;
}

.project-img{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.project-text>a>h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}

.project-text>a>i{
    padding-right: 10px;
}

.project-text p{
    text-align: justify;
    font-size: 1.1em;
    margin-bottom: 0.1rem;
    font-family: 'Open Sans', sans-serif;
}

#sigma-icon{
    width: 50px;
}


/* Media Queries */
/* ============= */
 
/* Very Small Screens - Smaller than 576px */
@media (max-width: 575.98px) { 

    .particle-background{
        height: 10400px;
    }

    .project-grid-wrapper{        
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-img{
        width: 100%;
    }

    .project-img-wrapper:nth-child(3){
        grid-row: 4/5;
    }
    
    .project-img-wrapper:nth-child(7){
        grid-row: 8/9;
    }

    .project-img-wrapper:nth-child(11){
        grid-row: 12/13;
    }

    .project-img-wrapper:nth-child(15){
        grid-row: 16/17;
    }

    .project-img-wrapper:nth-child(19){
        grid-row: 20/21;
    }

    .project-img-wrapper:nth-child(23){
        grid-row: 24/25;
    }

    .project-img-wrapper:nth-child(27){
        grid-row: 28/29;
        padding-bottom: 10px;
    }

    .project-img-wrapper:nth-child(31){
        grid-row: 32/33;
        padding-bottom: 10px;
    }

    .project-text>a>h2{
        font-size: 1.5rem;
    }
    
}


/* Small Devices - (landscape Phones - 576px and Up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (Tablets - 768px and Up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .particle-background{
        height: 6800px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}