.aboutBubble{
    border-radius: 50%;
    display: grid;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.aboutGridWrapper{
    padding: 20px 20px 0px 20px;
    position: relative;
    color: #fff;
    background-attachment: fixed;
    height: 600px;
    /* width: calc(100vw - 40px); */
    width: 100vw;

    box-sizing: border-box;
    background-image: url('../../assets/images/purplebike.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.aboutImg{
    width: 250px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    padding-top: 20px;
    z-index: 500;
}

.aboutP1{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 16px;
    background: rgba(25,0,25,.8);
    border: 1px solid purple;
    width: 220px;
    height: 220px;
}

.aboutP2{
    position: absolute;
    top: 50%;
    left: 17%;
    font-size: 16px;   
    background: rgba(25,25,0,.8);
    border: 1px solid maroon;
    width: 220px;
    height: 220px;
}

.aboutP3{
    position: absolute;
    top: 60%;
    left: calc(50% - 100px);
    font-size: 16px;
    z-index: 1;
    background: rgba(0,25,25,.8);
    border: 1px solid goldenrod;
    width: 200px;
    height: 200px;
}

.aboutP4{
    position: absolute;
    top: 50%;
    right: 17%;
    font-size: 16px;
    background: rgba(25,0,0,.8);
    border: 1px solid green;
    width: 220px;
    height: 220px;
}

.aboutP5{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 16px;
    background: rgba(0,0,25,.8);
    border: 1px solid teal;
    width: 220px;
    height: 220px;
}

.aboutTitle{
    font-size: 4rem;
    display: block;
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
    font-family: 'Muli', sans-serif; 
    background:rgba(0,0,0,.5);
}



/* Very Small Screens - Smaller than 576px */
@media (max-width: 575.98px) { 

    .aboutGridWrapper{
        height: 1450px;
    }
    
    .aboutImg{
        width: 300px;
    }
        
    .aboutTitle{
        font-size: 45px;
        width: 100%;
    }
    
    .aboutP1, .aboutP2, .aboutP3, .aboutP4, .aboutP5{
        font-size: 16px;
        width: 250px;
        height: 250px;
        left: calc(50% - 125px);
    }

    .aboutP1{
        top: 400px;
        z-index: 5;
    }
    
    .aboutP2{
       top: 600px;
        z-index: 4;
    }
    
    .aboutP3{
        top: 800px;
        z-index: 6;
    }
    
    .aboutP4{
        top: 1000px;
        z-index: 4;
    }
    
    .aboutP5{
        top: 1200px;  
        z-index: 5;
    }
    
}



/* Small Devices - (landscape Phones - 576px to 767px) */
@media (min-width: 576px) and (max-width: 766.98px) {
  
    .aboutBubble{
        font-size: 1rem;
    }

    .aboutGridWrapper {
        text-align: center;
        display: block;
    }
    
    .aboutP1, .aboutP5{
        top: 13%;
     }

    .aboutP2{
        left: 35px;
         z-index: 4;
     }
     
     .aboutP4{
         right: 35px;
         z-index: 4;
     }

    .aboutTitle{
        font-size: 45px;
        padding: 10px;
        margin-bottom: 10px;
        /* border-radius: 5px;  */
    }

}


/* Medium devices (Tablets - 767px to 992px) */
@media (min-width: 767px) and (max-width: 991.98px) { 

    .aboutGridWrapper{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 800px;
    }

    .aboutImg{
        width: 220px;
        grid-column: 1/3;
        justify-self: center;
        align-self: start;
        margin-top: 30px;
        margin-bottom: -30px; 
    }
    
    .aboutTitle{
       display: none; 
    }

    .aboutP1, .aboutP2, .aboutP3, .aboutP4, .aboutP5{
        font-size: 14px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        
    }

    .aboutP1{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .aboutP2{
        grid-column: 2/3;
        grid-row: 3/4;  
    }
    
    .aboutP3{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .aboutP4{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .aboutP5{
        grid-column: 1/3;
        grid-row: 5/6;
        justify-self: center;
        align-self: center;   
    }
    
}